/* reset css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Header CSS  */

.top_banner {
  background-color: #0d369f;
  color: white;
  padding: 10px 0 10px 0;
}

.top_banner ul {
  list-style: none;
  margin: auto;
  padding: auto;
}

.top_banner li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
/* Chỉnh hover efect
 */
.top_banner a:hover {
  color: #ff6e65;
}

/* Hover effect cho social media icons */
.top_banner .content_right i:hover {
  color: #ff6e65;
}

.top_banner ul {
  display: flex;
  /* padding: auto; */
  margin: auto;
  justify-content: center;
}

/* Chỉnh responsive  */
/* @media screen and (min-width: 992px) {
  .top_banner .content_left a {
    color: red;
  }
} */

/* Nav bar CSS  */

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
}

header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 999 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

/* chỉnh màu chữ Studios */
.navbar-brand {
  color: #0d369f;
  font-size: 26px;
  transition: all 0.5s;
}

/* Chỉnh hover effect cho links tren navbar  */
a.navbar-brand:hover {
  color: #ff6e65;
}

/* Chỉnh lại màu chữ cho Menu item defaul */
.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
}

/* Chỉnh active color cho Menu item Home  */
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #ff6e65;
}

/* Hover cho menu item  */
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #ff6e65;
}
.navbar-expand-lg .navbar-nav .nav-item.dropdown .dropdown-item {
  color: black;
  transition: all 0.5s;
}
/* Hover cho sub-menu item của Pages  */
.navbar-expand-lg .navbar-nav .nav-item.dropdown .dropdown-item:hover {
  color: #ff6e65;
}

/* Chỉ search icon position */

form button {
  position: absolute;
  color: #0d369f;
  right: 0;
  padding: 0 40px 0 0;
  border: none;
  background: transparent;
  transition: all 0.5s;
}

/* Chỉnh Hover effect cho search icon  */

form button:hover {
  color: #ff6e65;
}

form .form-control {
  border-radius: 30px;
  padding: 10px 35px 10px 20px;
}

/* Responsive cho Header  */
@media only screen and (max-width: 992px) {
  .top_banner {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link.active {
    color: #0d369f;
  }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #0d369f;
  }

  .navbar-expand-lg .navbar-collapse ul {
    align-items: center;
  }

  .navbar-toggler {
    background-color: #0d369f;
  }

  .navbar-toggler-icon {
    color: white;
  }

  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }

  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background: #0d369f;
    line-height: 34px;
  }

  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }

  button.navbar-toggler .icon-expand {
    display: none;
  }
}

/* Welcome section CSS  */

.welcome_title h3 {
  font-size: 40px;
  font-weight: 600;
}

.welcome_title .welcome_divider {
  position: relative;
}
.welcome_main h3 span {
  color: #ff6e65;
}

.welcome_icon svg {
  font-size: 33px;
  color: #0d369f;
  line-height: 70px;
}

.welcome_item {
  padding: 0 15px;
}

.welcome_info h3 {
  color: black;
  transition: all 0.3s;
  font-size: 24px;
  font-weight: 600;
}

.welcome_info h3:hover {
  color: #ff6e65;
}

.welcome_info p {
  color: #707070;
  letter-spacing: 1.4px;
  line-height: 28px;
}

h3.welcome_divider::before {
  left: -20px;
  bottom: -8px;
  background: black;
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

h3.welcome_divider::after {
  left: 20px;
  bottom: -15px;
  background: black;
  content: "";
  width: 60px;
  height: 2px;
  right: 0;
  margin: auto;
  position: absolute;
}

/* .welcome_icon {
  position: relative;
  z-index: 2;
} */

.welcome_icon {
  height: 70px;
  width: 70px;
  background-color: #0d369f17;
  top: 0;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  margin: auto;
}


@media (max-width: 992px) {
  .welcome_body {
      flex-wrap: wrap; /* Allow items to wrap to the next line */
      justify-content: center; /* Center items on smaller screens */
  }
}